<ion-header>
  <ion-toolbar>
    <ion-title>Consulta de Exoneracion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="nisForm" (ngSubmit)="formSubmit()">
    <ion-list lines="full">
      <ion-item>
        <ion-img [src]="../../../assets/icons/icon-152x152.png"></ion-img>
      </ion-item>
      <ion-item class="form">
        <ion-label position="floating">NIS</ion-label>
        <ion-input formControlName="nis" type="text" mask="0000-0000"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>